@charset "utf-8";
body {
color: #898989;
background-color: #111;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, "Droid Sans", "Oxygen", "Ubuntu", "Helvetica Heue", "Lucida Grande", "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ml-dg:before, .ml-dt:before { color: #777; }

a, .likelink, .spoiler:hover a, .spoiler:focus a, .spoiler a:focus { color: #aaa; } 
.spoiler:focus-within a { color: #aaa; } 
a:hover, .likelink:hover, .spoiler:hover a:hover, .open-spoiler a:hover { color: #ddd; }
.likelink { border-bottom-color: #aaa; }
.likelink:hover { border-bottom-color: #ddd; }
.ll-h:hover .likelink { color: #ddd; border-bottom-color: #ddd; }

h2.native, h3.native, .complex-header__container { background-color: #222; }
h2.native { border: 1px solid #555; }

hr { border-color: #555; }

pre { background: #333; color: #999; }

.warn { border-color: #999; background-color: #262626; color: #888; }

.reply, .lst_rpl { background-color: #222; }

.rpl-hl { background-color: #151515; }
.reply:focus { background-color: #151515; }
.reply:target { background-color: #151515; }

.uid-hl { -webkit-box-shadow: #cecece 0 0 1em inset, #cecece 0 0 .5em; -moz-box-shadow: #cecece 0 0 1em inset, #cecece 0 0 .5em; box-shadow: #cecece 0 0 1em inset, #cecece 0 0 .5em; }
.reply:focus { background-color: #151515; }
.reply:target { background-color: #151515; }
.fake-hl { background-color: #151515; }
.double-fake-hl { background-color: #222 !important; }
@supports selector(.reply:target) {
    .reply:focus { background-color: #222; }
    .reply:focus.reply:target { background-color: #151515; }
}

@-webkit-keyframes highlighter {
  0% { background-color: #656565; color: #c3c3c3; }  
  75% { background-color: #656565; color: #c3c3c3; }
  100% { background-color: transparent; color: inherit; }
}
@-moz-keyframes highlighter {
  0% { background-color: #656565; color: #c3c3c3; }  
  75% { background-color: #656565; color: #c3c3c3; }
  100% { background-color: transparent; color: inherit; }
}
@-o-keyframes highlighter {
  0% { background-color: #656565; color: #c3c3c3; }  
  75% { background-color: #656565; color: #c3c3c3; }
  100% { background-color: transparent; color: inherit; }
}
@keyframes highlighter {
  0% { background-color: #656565; color: #c3c3c3; }  
  75% { background-color: #656565; color: #c3c3c3; }
  100% { background-color: transparent; color: inherit; }
}

.reflink a, a.reflink { color: #9b905b; }

.pstcnt { color: #999; }

.hand:hover, .hover-color:hover { background-color: #292929; }

.img_size, .img_size-big, .thrd-thumb { color: gray; }

.spoiler, .open-spoiler { background-color: #444; }
.spoiler, .spoiler a, .spoiler .unkfunc, .spoiler .dice, .spoiler font[color="green"], .spoiler .ml-dg:before, .spoiler .ml-dt:before { color: #444; } 
.spoiler:hover, .spoiler:focus, .open-spoiler, .spoiler:hover .ml-dg:before, .spoiler:focus .ml-dg:before, .spoiler:hover .ml-dt:before, .spoiler:focus .ml-dt:before { color: #888; }
.spoiler:focus-within, .spoiler:focus-within .ml-dg:before, .spoiler:focus-within .ml-dt:before { color: #888; }

.unkfunc, .spoiler:hover .unkfunc, .spoiler:focus .unkfunc, .unkfunc .ml-dg:before, .unkfunc .ml-dt:before { color:#567000; }
.spoiler:focus-within .unkfunc { color:#567000; }

.postertrip, .postertripid { color: #228854; }

.pale { color: #444; }
a.pale { color: #666; }

.good { color: #3d8c3d; }

.sage { color: #900; }

.mod { color: #26a; }

.adm { color: #800080; }