@charset "utf-8";
body {
color:#800000;
background-color: #ffe;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe WP", Roboto, "Droid Sans", "Oxygen", "Ubuntu", "Helvetica Heue", "Lucida Grande", "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ml-dg:before, .ml-dt:before { color: #800000; }

a, .likelink, .spoiler:hover a, .spoiler:focus a, .spoiler a:focus { color: #00e; } 
.spoiler:focus-within a { color: #00e; } 
a:hover, .likelink:hover, .spoiler:hover a:hover, .open-spoiler a:hover { color: #d00; }
.likelink { border-bottom-color: #00e; }
.likelink:hover { border-bottom-color: #d00; }
.ll-h:hover .likelink { color: #d00; border-bottom-color: #d00; }

h2.native, h3.native, .complex-header__container { background-color: #f0e0d6; }
h2.native { border: 1px solid #f0d0b6; }

.reply, .lst_rpl { background-color: #f0e0d6; }

.uid-hl { -webkit-box-shadow: #ea8 0 0 1em inset, #ea8 0 0 .5em; -moz-box-shadow: #ea8 0 0 1em inset, #ea8 0 0 .5em; box-shadow: #ea8 0 0 1em inset, #ea8 0 0 .5em; }
/* border: 2px dashed #ea8; */
.reply:focus { background-color: #f3cfb9; }
.reply:target { background-color: #f3cfb9; }
.fake-hl { background-color: #f3cfb9; }
.double-fake-hl { background-color: #f0e0d6; }
@supports selector(.reply:target) {
    .reply:focus { background-color: #f0e0d6; }
    .reply:focus.reply:target { background-color: #f3cfb9; }
}

@-webkit-keyframes highlighter {
  0% { background-color: #f3cfb9; }  
  75% { background-color: #f3cfb9; }
  100% { background-color: transparent; }
}
@-moz-keyframes highlighter {
  0% { background-color: #f3cfb9; }  
  75% { background-color: #f3cfb9; }
  100% { background-color: transparent; }
}
@-o-keyframes highlighter {
  0% { background-color: #f3cfb9; }  
  75% { background-color: #f3cfb9; }
  100% { background-color: transparent; }
}
@keyframes highlighter {
  0% { background-color: #f3cfb9; }  
  75% { background-color: #f3cfb9; }
  100% { background-color: transparent; }
}

hr { border-color: #800000; }

.warn { border-color: #c33; background-color: #fed; }

.hand:hover, .hover-color:hover { background-color: #ffefe5; }

.pstcnt { color: #4f7942; }

.reflink a, a.reflink { color: #800000; }

.img_size, .img_size-big, .thrd-thumb { color: #c09090; }

.ft { color: #cc1105; }

.pn { color: #117743; font-weight: 800; }

.uid { font-weight: normal; }
.ua { font-weight: normal; }

.spoiler, .open-spoiler { background-color: #f0d0b6; }
.spoiler, .spoiler a, .spoiler .unkfunc, .spoiler .dice, .spoiler font[color="green"], .spoiler .ml-dg:before, .spoiler .ml-dt:before { color: #f0d0b6; } 
.spoiler:hover, .spoiler:focus, .open-spoiler, .spoiler:hover .ml-dg:before, .spoiler:focus .ml-dg:before, .spoiler:hover .ml-dt:before, .spoiler:focus .ml-dt:before { color: #800000; }
.spoiler:focus-within, .spoiler:focus-within .ml-dg:before, .spoiler:focus-within .ml-dt:before { color: #800000; }

.unkfunc, .spoiler:hover .unkfunc, .spoiler:focus .unkfunc, .unkfunc .ml-dg:before, .unkfunc .ml-dt:before  { color: #708b28; /* cont */ }
.spoiler:focus-within .unkfunc { color: #708b28; }

.postertrip, .postertripid { color: #228854; }

.pale { color: #c09090; } 

.good { color: green; }

.sage { color: red; }

.mod { color: #f00; }

.adm { color: #800080; }